@{
    ViewData["Title"] = "Home Page";
}

<div>
    @Html.ActionLink("Await in the loop", "AwaitInTheLoop", "Home") <br>
    @Html.ActionLink("Await outside loop", "AwaitOutsideLoop", "Home")
</div>
